{
	"env":
	{
		"development":
		{
			"presets":
			[
				"react",
				"env"
			],

			"plugins":
			[
				"transform-object-rest-spread",
				"transform-class-properties"
			]
		},
		"commonjs":
		{
			"presets":
			[
				"react",
				"env"
			],

			"plugins":
			[
				"transform-object-rest-spread",
				"transform-class-properties",
				"transform-react-display-name"
			]
		},
		"es6":
		{
			"presets":
			[
				"react",
				["env", { modules: false }]
			],

			"plugins":
			[
				"transform-object-rest-spread",
				"transform-class-properties",
				"transform-react-display-name"
			]
		}
	}
}