{
	"presets":
	[
		"react",
		"env"
	],

	"plugins":
	[
		["transform-es2015-for-of", { loose: true }],
		"transform-object-rest-spread",
		"transform-decorators-legacy",
		"transform-class-properties"
	],

	"env":
	{
		"es6":
		{
			"presets":
			[
				"react",
				["env", { modules: false }]
			],

			"plugins":
			[
				["transform-es2015-for-of", { loose: true }],
				"transform-object-rest-spread",
				"transform-decorators-legacy",
				"transform-class-properties"
			]
		},
		"test":
		{
			"plugins": ["istanbul"]
		}
	}
}