{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],

	"plugins": [
		["@babel/plugin-transform-for-of", { loose: true }]
	],

	"env": {
		"es6": {
			"presets": [
				["@babel/preset-env", { modules: false }]
			]
		},
		"test": {
			"plugins": ["babel-plugin-istanbul"],
			"ignore": [
				"bundle",
				"modules",
				"commonjs"
			]
		}
	}
}