{
  "require": [
    "@babel/register"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "source/phoneInputHelpers.js"
  ],
  "exclude": [
    "**/*.test.js"
  ],
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "all": true
}