.react-phone-number-input__country
{
	margin-right : calc(0.3rem * 1.5);
}

/* Styling the phone input field */
.react-phone-number-input__phone,
.react-phone-number-input__country .rrui__select__selected--autocomplete
{
	width   : calc(0.3rem * 60);
	padding : 0;

	outline    : none;
	appearance : none;

	border        : none;
	border-bottom : 1px solid #C5D2E0;

	transition         : border 0.1s;
	-webkit-transition : border 0.1s;
}

.react-phone-number-input__phone:focus
{
	border-bottom-color: #0093C4;
}

/* Custom style for flag icons */
.react-phone-number-input .rrui__select__arrow
{
	margin-top  : 0.3rem;
	margin-left : 0.3rem;
}

.react-phone-number-input__icon
{
	display        : inline-block;
	vertical-align : top;
	width          : 1.24em;
	height         : 0.93em;
	border         : 1px solid #bfbfbf;
}

.react-phone-number-input__icon--international
{
	width         : calc(0.93em + 2px);
	height        : calc(0.93em + 2px);
	padding-left  : 0.155em;
	padding-right : 0.155em;
	border        : none;
}